<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean id="helloWorld" class="com.zfp.Action.HelloWorldImpl"></bean>
<!-- 扫描包类 -->
<context:component-scan base-package="com.zfp.dao"  />

<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"  destroy-method="close">
    <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
    <property name="url" value="jdbc:mysql://localhost:3306/demo_db"></property>
   <property name ="username" value="root"></property>
   <property name="password" value="root"></property>
   <!-- 最大连接数据库连接数，设为0表示没有限制 -->
   <property name="maxActive" value="100"></property>
   <!-- 最大的空闲链接数，这里数值为20 ，表示即使没有数据库链接时依然可以保持20空闲的链接，而不被清楚，出于随时待命的
   状态 -->
   <property name="minIdle" value="30"></property>
   <!-- 表示最大等待秒钟数，取值为-1的时候表示，无线等待，直到超时为止，500表示等到时间为0.5秒 -->
   <property name="maxWait" value="500"></property>
   <property name="defaultAutoCommit" value="true"></property>
</bean>

</beans>